@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

@font-face {
  font-family: "D2Coding";
  src: url("D2Coding.woff2") format("woff2"),
    url("D2Coding.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 50px;
}

/* body {
  background: url(img/img04.jpg);
} */

h1 {
  padding: 10px;
  background-color: #b76e79;
  color: #ffdddd;
  border: 10px solid #b7b7b7;
}

p {
  text-align: right;
  color: deepskyblue;
}

h1, p {
  font-family: "D2Coding";
}

div > span {
  color: aquamarine;
}

/* id */
#container {
  width: 500px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #b76e79;
}

/* class */
.italic {
  text-align: left;
  font-style: italic;
  font-size: 20px;
}

.bg-gray {
  background-color: gray;
  color: white;
  padding: 5px;
}

.color1 {
  color: rgb(255, 255, 255);
}

.color2 {
  color: rgba(255, 255, 255, 0.5);
}