@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {
  margin: 50px;
}

h1 {
  padding: 10px;
  background-color: #b76e79;
  color: #ffdddd;
  border: 10px solid #b7b7b7;
}

p {
  text-align: right;
  color: deepskyblue;
}

h1, p {
  font-family: "mesloLGS NF", 'Nanum Pen Script', cursive;
}

div > span {
  color: aquamarine;
}

/* id */
#container {
  width: 500px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #b76e79;
}

/* class */
.italic {
  text-align: left;
  font-style: italic;
  font-size: 20px;
}

.bg-gray {
  background-color: gray;
  color: white;
  padding: 5px;
}

