#top-bar {
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
}

#nav-menu {
  display: inline-block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#mark {
  margin: 20 auto;
  padding: 20px;
}

#mark a {
  text-decoration: none;
  color: black;
}

ul {
  display: flex;
  list-style: none;
  text-align: center;
}

#nav-menu ul li {
  display: inline-block;
  margin: 20 auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

#nav-user ul li {
  display: inline-block;
  margin: 20 auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

